*{
  background: blue;
  margin: 0;
}
 h1 {
 text-align: center;
  }
  section{
    display: inline;
  }
class id1{
  width: 400px;
}
main ul li{
  display: inline-flex;
  width: 330;
  height: auto;
  
}